.songRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	background-color: #2e2e2e;
	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: #3e3e3e;
	}

	&:nth-child(odd) {
		background-color: #3e3e3e;
	}
}

.songRow__index {
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
}

.songRow__title {
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
}

.songRow__artist {
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
}

.songRow__album {
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
}

.songRow__duration {
	font-size: 1rem;
	font-weight: 400;
	color: #f47fff;
}
